// COLOR STACK
$grey1:#5B605F; //panel boczny, navigacja
$grey2:#4a4a49; // naglowek, kolor tekstu w kolumnach 
$grey3:#A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji 
$orange1:#FFB03B; // kolor wiadomosci typu warning 
$orange2: #E58A20; // kolor slowa 'jedzonko' w LOGO
$orange3:#FF6600; // przyciski, wyroznienia, naglowki ekranow
$red1:#BD4932; // kolor ikony kosza
$white1:#FFFFFA; // kolor tla ekranow
$white2: #FFFFFF; // kolor slowa 'zaplanuj' w LOGO
$blue1:#3498DB; // kolor wiadomosci typu info
$green1:#468966; // kolor wiadomosci typu success
