// DASHBOARD MAINVIEW

.main__dashboard {
  width: 100vw;
  height: 100vh;
}

// NAVBAR
.navbar__dashboard-container {
  height: 12.5vh;
  background-color: $grey2;
  padding: 0.5rem .5rem;
  display: flex;
  align-items: center;
  
  .navbar__dashboard-content {
    width: 100%;
    max-width: 100%;
    height: 50%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid $grey2;
    border-right: 5px solid $grey2;

    a {
      display: inline-block;
      text-decoration: none;
      display: flex;
      width: auto;
      height: auto;
      border-right: 1px solid $grey1;

      h1 {
        width: auto;
        height: 1.75rem;
        padding-right: 1.5rem;
      }
      .navbar__title {
        font-family: $logo-font;
        font-weight: lighter;
        font-size: 2rem;
        color: $white2;
        .navbar__alttitle {
          color: $orange2;
          margin-left: 0.5rem;
        }
      }
    }
    .avatar__container {
      display: flex;
      align-items: center;
      .avatar__name {
        color: $white1;
        font-size: 1.25rem;
        margin-right: 1.75rem;
      }
      .avatar__image {
        z-index: 3;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

// DASHBOARD

.main__dashboard-container {
  width: 100%;
  height: 87.5vh;
  display: flex;
  
}

//SIDEBAR

.sidebar__nav-container {
  display: flex;
  width: 18.5%;
  height: 100%;
  background-color: $grey1;

  .sidebar-content {
    height: auto;
    width: 100%;
    position: relative;
    list-style: none;

    a {
      display: inline-block;
      width: 100%;
      height: auto;
      padding-left: 2rem;
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: $main-font;
      font-weight: 100;
      color: $white1;
      font-size: 1.25rem;
      font-family: $main-font;
      border-left: 5px solid $grey1;
      position: relative;
    }

    .active {
      color: $white2;
      font-weight: 900;
      border-left: 5px solid $orange3;
    }

    .active::after {
      content: "";
      position: absolute;
      border: solid $orange3;
      border-width: 0 2px 2px 0;
      padding: 4px;
      top: 50%;
      left: 85%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

// DASHBOARD CONTENT

.main__dashboard-content {
  background-image: url("../../assets/images/background.png");
  width: 81.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.dashboard__content-top {
  width: 90%;
  height: auto;
  margin: 2.25% auto;
  display: flex;
  justify-content: space-between;


// WIDGETSADD

.widgets__container {
  display: flex;
  height: auto;
  width: auto;
}

.link__add {
  width: 14rem;
  display: flex;
  height: 12.5rem;
  background-color: $white1;
  border: 1px dashed $widgetGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 5%;

  .widget__element__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-7.25%);
    .widget__text {
      text-align: center;
      p {
        font-size: 1.25rem;
        color: $widgetGreen;
      }
    }
    .ng-element-plus {
      cursor: pointer;
      width: 1rem;
      height: 1rem;
    }
  }
}

// NOTIFICATIONS

.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  order: 2;
}

.notifications__element__1 {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid $notificationsBlue;
  border-style: dashed;
  display: flex;

  div p {
    color: $notificationsBlue;
    font-size: 1.25rem;
  }
}

.notifications__element__2 {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px dashed $notificationsYellow;
  display: flex;

  div p {
    color: $notificationsYellow;
    font-size: 1.25rem;
  }
}
.notifications__element__3 {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px dashed $notificationGreen;
  display: flex;

  div p {
    color: $notificationGreen;
    font-size: 1.25rem;
  }
}
.notification__element__text {
  display: flex;
  align-items: center;
  p {
    color: $notificationsBlue;
    font-size: 1.25rem;
  }
}

.ng-element {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 3px;
}
}

// SCHEDULE OVERVIEW

.dashboard__content-bottom {
  width: 90%;
  height: 70vh;
  margin: 0 auto;
  margin-top: 2.25%;
  margin-bottom: 2.25%;
  background-color: $white1;
  border: 1px dashed $green1;
  

  .schedule__overview-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.25rem;
    color: $orange3;
  }

  .schedule__overview-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto; 
    

    .schedule__overview-content-day {
      display: flex;
      flex-direction: column;
     

      .schedule__overview-content-element-title {
        width: auto;
        height: auto;
        margin-top: .5rem;
        padding: .5rem 0;
        border-top: 0.0625rem solid $grey3;
        border-bottom: 0.0625rem solid $grey3;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        color: $grey2;
      }
      .schedule__overview-content-element {
        text-align: center;
        padding: 0.5rem 0;
        font-size: 1.25rem;
        color: $grey3;
        border-bottom: 0.0625rem solid $grey3;
      }
    }
  }
}

.schedule__overview-content-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 1rem 0 1rem;

  .schedule__overview-content-nav-element {
    display: flex;
    font-size: 0.875rem;
    color: $orange3;
    margin: 1.5rem 0 1.5rem 0;
  }

  .prev {
    margin-left: 1rem;

    span:nth-of-type(1) {
      align-self: center;
      font-size: 2rem;
      margin-right: 0.5rem;
    }

    span:nth-of-type(2) {
      align-self: center;
    }
  }

  .next {
    margin-right: 1rem;

    span:nth-of-type(1) {
      align-self: center;
      margin-right: 0.5rem;
    }

    span:nth-of-type(2) {
      font-size: 2rem;
    }
  }
}

// USER FIRST ENTRY

.dashboard__user__first__entry-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .dashboard__user__first-entry {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white1;
    color: $grey1;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p:first-of-type {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;

      input {
        padding: 0 0.6rem;
        margin-bottom: 1rem;
        width: 18.25rem;
        height: 1.875rem;
        border: none;
        border: 0.0625rem solid $grey4;
        color: darken($grey2, 20%);
        &::placeholder {
          color: lighten($grey3, 15%);
        }
      }

      button {
        border: none;
        width: 8rem;
        height: 2.5rem;
        background-color: $orange3;
        font-size: 1.5rem;
        font-weight: bold;
        color: $white1;
      }
    }

    p:nth-of-type(2) {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }
}

//ADD RECIPE


.add__recipe__container {
  width: 100%;
  height: 100%;
  background-color: $white1;
  padding: 2rem 2rem;
}

.add__recipe__header {
  width: 100%;
  height: auto;
  border-bottom: 2px solid $grey3;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  h1 {
    text-transform: uppercase;
    color: $orange3;
    font-family: $main-font;
    font-weight: 900;
    font-size: 1.75rem;
    margin: 0 0;
  }
  button {
    background-color: $orange3;
    padding: 0 0.5rem 0 0.5rem;
    border: none;
    color: $white2;
    font-size: 1rem;
    font-family: $main-font;
  }
}

.add__recipe__input {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.25rem;
      color: $grey1;
      display: flex;
      justify-content: space-between;
      margin: 1rem 5rem 0 0;

      input,
      textarea {
        width: 75%;
        justify-content: flex-start;
        height: auto;
        color: darken($grey2, 20%);
        font-size: 0.75rem;
        font-family: $main-font;
        padding: 0.25rem;
        border: 1px solid lighten($grey3, 15%);
        &::placeholder {
          color: lighten($grey3, 15%);
        }
        textarea.recipe__name-description {
          height: auto;
          font-family: $main-font;
        }
      }
    }
  }
}

.add__recipe__content-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .add__recipe__content {
    width: 47.5%;
    .add__recipe__content-header {
      h1 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 200;
        font-family: $main-font;
        color: $grey1;
        padding-bottom: 0.25rem;
        border-bottom: 2px solid $grey3;
      }

      button{
        cursor: pointer;
      }

      .add__recipe__content-fill {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;

        form {
          width: 100%;
          textarea {
            width: 92.5%;
            height: auto;
            color: darken($grey2, 20%);
            font-size: 0.75rem;
            padding: 0.25rem;
            border: 1px solid lighten($grey3, 15%);
            font-family: $main-font;
            &::placeholder {
              color: lighten($grey3, 15%);
              font-family: $main-font;
            }
          }
        }
        svg {
          width: 5%;
          height: auto;
          align-self: flex-start;
          padding: 0 0;
          cursor: pointer;

          path {
            width: 100%;
            height: 100%;
            fill: $widgetGreen;
          }
        }
      }
    }
  }
}

.add__recipe__content-list {
  width: 47.5%;
  ul {
    counter-reset: item;
    margin-top: 1rem;
    width: 100%;
    li {
      display: block;
      font-family: $main-font;
      font-family: $main-font;
      color: $grey1;
    }
    li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
    }
  }
}

.add__recipe__content-list2 {
  width: 47.5%;
  ul {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    list-style-type: disc;
    list-style-position: inside;
    li {
      font-family: $main-font;
      color: $grey1;
    }
  }
}

.add__recipe__content-list-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

//ADD SCHEDULE

.add__schedule__container {
  width: 100%;
  height: 100%;
  background-color: $white1;
  padding: 2rem 2rem;
}

.add__schedule__header {
  width: 100%;
  height: auto;
  border-bottom: 2px solid $grey3;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  h1 {
    text-transform: uppercase;
    color: $orange3;
    font-family: $main-font;
    font-weight: 900;
    font-size: 1.75rem;
    margin: 0 0;
  }
  button {
    background-color: $orange3;
    padding: 0 0.5rem 0 0.5rem;

    border: none;
    color: $white2;
    font-size: 1rem;
    font-family: $main-font;
  }
}

.add__schedule__input {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.25rem;
      color: $grey1;
      display: flex;
      justify-content: space-between;
      margin: 1rem 5rem 0 0;

      .schedule__name-input,
      textarea {
        width: 75%;
        height: auto;
        color: darken($grey2, 20%);
        font-size: 0.75rem;
        font-family: $main-font;
        padding: 0.25rem;
        border: 1px solid lighten($grey3, 15%);
        &::placeholder {
          color: lighten($grey3, 15%);
        }
        textarea.schedule__name-description {
          height: auto;
          font-family: $main-font;
        }
      }
    }
    .schedule__week-input-container {
      width: 75%;
      margin-bottom: 1.5rem;
      .schedule__week-input {
        display: flex;
        justify-content: space-between;
        width: 3%;
        height: auto;
        color: $grey1;
        font-size: 0.75rem;
        font-family: $main-font;
        padding: 0.25rem;
        border: 1px solid lighten($grey3, 15%);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

.add__schedule-table {
  width: 100%;
  height: auto;

  .add__schedule-table-row {
    width: 100%;
    height: 2.25rem;
  }
}
table {
  text-transform: uppercase;
  border-collapse: collapse;

  tr {
    border-bottom: 2px solid $grey3;
    border-top: 2px solid $grey3;
  }
  .cell-empty {
    border-top: $white1;
  }
  .add__schedule-table-row:first-child {
    font-size: 1.4rem;
    font-style: $main-font;
    padding: 0.5rem 0.5rem;
    border-top: $white1;
  }
}

td:not(.cell-empty) {
  text-transform: uppercase;
  text-align: center;
  color: $grey1;
  font-weight: 900;
  width: 14.5%;
  border-top: 2px solid $grey3;
}


.recipes__content-container {
  height: 100%;
  width: 1005;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-position: inside;
}

.recipes__content__view {
  height: 85%;
  width: 90%;
  background-color: $white1;
  border: 1px solid $grey3;
  padding: 0.75rem 0.75rem;
  color: $grey1;

  .recipes__content__view-header {
    width: 100%;
    height: auto;
    border-bottom: 2px solid $grey3;
    padding-bottom: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;
    h1 {
      text-transform: uppercase;
      color: $orange3;
      font-family: $main-font;
      font-weight: 900;
      font-size: 1.75rem;
      margin: 0 0;
    }
    svg {
      width: 3%;
      height: auto;
      align-self: flex-start;
      padding: 0 0;
      align-self: center;
      cursor: pointer;

      path {
        width: 100%;
        height: 100%;
        fill: $widgetGreen;
      }
    }
  }
}

 .recipes__content__table{
   width: 97.5%;
   height: auto;
   margin: 0 auto;

.recipes__content__table-header{
  text-transform: uppercase;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.25rem;
  width: 100%;
  height:auto;
  th{
    padding: .75rem 0 .75rem  0;
  }
}

.table__header__cell-actions{
  text-align: center;
}


.recipes__content__table-cell td{
  padding: .5rem 0;
}
.recipes__content__table-cell td:not(:last-child) {
    text-align: left;
  }
  .recipes__content__table-cell td:not(:nth-child(3)){
    font-size: 1rem;
    text-transform:lowercase;
    font-weight: 400;
    color: $grey3;
  }
  .recipes__content__table-cell td:nth-child(3){
    font-size: .75rem;
    text-transform:lowercase;
    font-weight: 400;
    color: $grey3;
 }

 .recipes__content__table-cell td:last-child {
    text-align: center;
  }

 
.recipes__content__table-cell td:nth-child(1){
width: 5%;
}
.recipes__content__table-cell td:nth-child(2){
width: 25%;
}
.recipes__content__table-cell td:nth-child(3){
width: 45%;
height: auto;
}



.recipes__content__table-cell td:nth-child(4){
width: 10%;
height: auto;
}

.icon-edit{
      width: 20%;
      height: auto;
      align-self: flex-start;
      cursor: pointer;
      margin-right: .5rem;

      path {
        width: 100%;
        height: 100%;
        fill: $orange1;
      }
}

.icon-delete{
      width: 15%;
      height: auto;
      align-self: flex-start;
      cursor: pointer;
      margin-left: .5rem;


      path {
        width: 100%;
        height: 100%;
        fill: $green1;
      }
}

}