.navbar__dashboard-container {
  background-color: $grey2;
  padding: 1.5rem;
  height: 15vh;
  .navbar__dashboard-content {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: $logo-font;
      color: $white1;
      span {
        color: $orange3;
      }
    }
    .avatar__container {
      .avatar__name {
        color: $white1;
        font-size: 1.5rem;
      }
    }
  }
}

.sidebar__nav-container {
  display: flex;

  .sidebar-content {
    height: 85vh;
    flex: 1 1 35%;
    background-color: $grey1;
    padding-left: 1.5rem;
    list-style: none;
    .sidebar__item {
      width: 100%;
      height: 12.5%;
      margin-right: 2rem;
      display: flex;
      align-items: center;

      a {
        margin-top: 2.5rem;
        text-decoration: none;
        color: $white1;
        font-size: 1.5rem;
        font-family: $main-font;
        text-decoration: none;
        font-weight: 300;
      }
      .active {
        color: $orange3;
      }
    }
  }
}

// USER FIRST ENTRY

.dashboard__user__first-entry {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $white1;
  color: $grey1;
  h1 {
    font-size: 3.36rem;
  }
  p:first-of-type {
    font-weight: bold;
    font-size: 1.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      padding: 0 0.6rem;
      margin-bottom: 1rem;
      width: 18.25rem;
      height: 1.875rem;
      border: none;
      border: 0.0625rem solid $grey4;
    }
    button {
      border: none;
      width: 8rem;
      height: 2.5rem;
      background-color: $orange3;
      font-size: 1.5rem;
      font-weight: bold;
      color: $white1;
    }
  }

  p:nth-of-type(2) {
    font-weight: bold;
    font-size: 1.25rem;
  }
}

// WIDGETSADD

.buttons_-container {
  height: 200px;
  border: 1px solid black;
  display: flex;
}
.widgets_-container {
  height: 200px;
  width: 40%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.notifications {
  height: 200px;
  width: 60%;
  border: 1px solid black;
}
.widgets__element {
  width: 198px;
  height: 177px;
  background-color: $white1;
  border: 1px solid black;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .widget__text {
    width: 100%;
    text-align: center;
    p {
      font-size: 1.25rem;
      color: $widgetGreen;
    }
  }
}

// NOTIFICATIONS

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.notifications__element__1 {
  width: 633px;
  height: 51px;
  border: 1px solid $notificationsBlue;
  border-style: dashed;
  display: flex;
}
.notifications__element__2 {
  width: 633px;
  height: 51px;
  border: 1px solid $notificationsYellow;
  border-style: dashed;
  display: flex;
  div p {
    color: $notificationsYellow;
    font-size: 1.25rem;
  }
}
.notifications__element__3 {
  width: 633px;
  height: 51px;
  border: 1px solid $notificationGreen;
  border-style: dashed;
  display: flex;
  div p {
    color: $notificationGreen;
    font-size: 1.25rem;
  }
}
.notification__element__text {
  display: flex;
  align-items: center;
  p {
    color: $notificationsBlue;
    font-size: 1.25rem;
  }
}
.ng-element {
  cursor: pointer;
}

.main__dashboard-container {
  display: flex;
  flex: 2 2 65%;
  width: auto;
}
